<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="../css/pintuer.css">
<link rel="stylesheet" href="../css/admin.css">
<script src="../js/jquery.js"></script>
<script src="../js/pintuer.js"></script>
<script src="../js/history_apply.js"></script>
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 历史申请</strong></div>
    <div class="padding border-bottom">
        <ul class="search" style="padding-left:10px;">
            <li>
                <button type="button" class="button border-yellow addContentBtn"><span class="icon-plus-square-o"></span> 添加内容</button>
            </li>
            <li>
                <select name="cid" class="input" style="width:200px; line-height:17px;" id="libraryType">
                    #foreach($library in $libraryList)
                        <option value="$library">$library</option>
                    #end
                </select>
            </li>
            <li>
                <select name="cid" class="input" style="width:200px; line-height:17px;" id="catalogFirst" >
                    <option value="all">一级目录</option>
                    #foreach($catalog in $catalogFirst)
                        <option value="$catalog.code">$catalog.getName()</option>
                    #end
                </select>
            </li>
            <li >
                <select name="cid" class="input" style="width:200px; line-height:17px;" id="catalogSecond" hidden>
                    <option value="0">二级目录</option>

                </select>
            </li>
        </ul>
    </div>
    <table class="table table-hover text-center" id="contentListPart">
        <tr>
            <th width="5%">序号</th>
            <th width="20%">标题</th>
            <th width="15%">所属目录</th>
            <th width="30%">描述</th>
            <th width="15%">审核结果</th>
        </tr>
        #foreach($content in $contentList)

            <tr class="contentList">
                <td>$velocityCount</td>
                <td>$content.title</td>
                <td>$content.path</td>
                <td>$content.description</td>
                <td><div class="button-group">
                ##                <a class="button border-main" href="#add"><span class="icon-edit"></span> 修改</a>
                    <a class="deleteBtn button border-red" href="javascript:void(0)" data-id="$content.id"><span class="icon-trash-o"></span> 删除</a>
                </div></td>
            </tr>
        #end

    </table>
</div>

<div class="panel admin-panel margin-top" id="addPart" hidden>
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增加内容</strong></div>
  <div class="body-content">
    <form id="addForm" method="post" enctype="multipart/form-data" class="form-x" >
      <div class="form-group">
        <div class="label">
            <label>所属库：</label>
        </div>
        <div class="field" id="selectLibraryAdd">
            <select name="pid" class="input w50">
                <option value="0">请选择库</option>
                #foreach($library in $libraryList)
                    <option value="$library">$library</option>
                #end

            </select>
        </div>
      </div>
      <div class="form-group catalogFirst" hidden>
        <div class="label">
            <label>一级目录：</label>
        </div>
        <div class="field">
            <select name="pid" class="input w50" id="catalogFirstAdd">
                <option value="0">请选择一级目录</option>


            </select>
        </div>
      </div>
      <div class="form-group catalogSecond" hidden>
        <div class="label">
            <label>二级目录：</label>
        </div>
        <div class="field">
            <select name="pid" class="input w50" id="catalogSecondAdd">
                <option value="0">请选择二级目录</option>
            </select>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
            <label>标题：</label>
        </div>
        <div class="field">
            <input type="text" class="input w50" id="titleText"/>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
            <label>描述：</label>
        </div>
        <div class="field">
            <textarea class="input" name="note" style=" height:90px;" id="descriptionText" placeholder="选填，若空，则选取内容的前一段作为描述"></textarea>
            <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
            <label>内容：</label>
        </div>
        <div class="field">
            <textarea name="content" class="input" style="height:450px; border:1px solid #ddd;" id="contentText"></textarea>
            <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
            <label>附件：</label>
        </div>
        <div class="field">
            <input type="button" class="button bg-blue margin-left" id="selectFile" value="+ 浏览上传"  style="float:left;">
            <input type="file" id="fileBtn" name="file" value="选择文件" hidden>
            <div class="tipss">仅可以上传pdf文件</div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button id="submitBtn" class="button bg-main icon-check-square-o" type="button"> 提交</button
        </div>
      </div>
    </form>
  </div>
</div>

</body></html>