<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<meta name="referrer" content="never">
<title></title>
<link rel="stylesheet" href="css/pintuer.css">
<link rel="stylesheet" href="css/admin.css">
<script src="js/jquery.js"></script>
<script src="js/pintuer.js"></script>
<script src="js/imagesMessage.js"></script>
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 图片列表</strong></div>
    <div class="padding border-bottom">
        <button  type="button" class="button border-yellow showAddPart" ><span class="icon-plus-square-o"></span> 添加图片</button>
    </div>
    <table class="table table-hover text-center">
        <tr>
            <th width="10%">序号</th>
            <th width="20%">图片</th>
            <th width="15%">名称</th>
            <th width="15%">操作</th>
        </tr>
        #foreach($image in $imageList)

        <tr>
            <td> $velocityCount</td>
            <td><img src="../image/getImg?url=$image.url" alt="图片加载失败" width="120" height="50" /></td>
            <td>$image.name</td>
            <td><div class="button-group">
##                <a class="button border-main" href="#add"><span class="icon-edit"></span> 修改</a>
                <a class="deleteBtn button border-red" href="javascript:void(0)" data-id="$image.id" data-name="$image.name" ><span class="icon-trash-o"></span> 删除</a>
            </div></td>
        </tr>
        #end

    </table>
</div>

<div class="panel admin-panel margin-top" id="addPart" hidden>

  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增加图片</strong></div>
  <div class="body-content">
    <form id="addImageForm" method="post" enctype="multipart/form-data" class="form-x" action="./imagesMessage">
      <div class="form-group">
        <div class="label">
          <label>图片：</label>
        </div>
        <div class="field">
##          <input type="text" id="url1" name="img" class="input tips" style="width:25%; float:left;"  value=""  data-toggle="hover" data-place="right" data-image="" />
          <div style="width:15%; float:left;"><img src="" alt="" width="100%" height="50" class="addImg" hidden/></div>
          <input type="button" class="button bg-blue margin-left" id="image1" value="+ 浏览上传"  style="float:left;">
          <input type="file" id="fileBtn" name="file" value="选择文件" hidden>
          <div class="tipss">图片尺寸：500*500</div>
        </div>
      </div>     
      

      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button id="addImageBtn" class="button bg-main icon-check-square-o" type="button"> 提交</button>
          <button id="submitBtn" type="submit" hidden> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>

</body></html>