<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="../admin/css/pintuer.css">
<link rel="stylesheet" href="../admin/css/admin.css">
<script src="../admin/js/jquery.js"></script>
<script src="../admin/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong></div>
  <div class="padding border-bottom">
    #if($button.getLevel().equals("1"))
        <button type="button" class="button border-yellow addMenuBtn"><span class="icon-plus-square-o"></span> 添加一级菜单</button>
    #elseif($button.getLevel().equals("2"))
        <button type="button" class="button border-yellow addMenuBtnSecond"><span class="icon-plus-square-o"></span> 添加二级菜单</button>
    #end
  </div>
  <table class="table table-hover text-center">
    <tr>
      <th width="5%">菜单名</th>
      <th width="15%">菜单类型</th>
      <th width="10%">菜单级别</th>
      <th width="10%">操作</th>
    </tr>
    #foreach($button in $buttonList)
    <tr>
        <td style="display: none">$button.getId()</td>
        <td class="button_name">$button.getName()</td>
        #if($button.getType().equals("view"))
            <td>跳转网页</td>
        #elseif($button.getType().equals("click"))
            <td>发送消息</td>
        #else
            <td>一级菜单</td>
        #end
        #if($button.getLevel().equals("1"))
          <td>一级菜单</td>
        #elseif($button.getLevel().equals("2"))
          <td>二级菜单</td>

        #end
        <td><div class="button-group"> <a class="button border-main" href="./update"><span class="icon-edit"></span> 修改</a> <a class="button border-red deleteBtn" href="javascript:void(0)" menu_id="$button.getId()" index="$velocityCount"><span class="icon-trash-o"></span> 删除</a> </div></td>
    </tr>
    #end

  </table>
</div>
<script type="text/javascript">
function del(id,mid){

	if(confirm("您确定要删除吗?")){

	}
}
</script>
<div class="panel admin-panel margin-top" id="addMenu" hidden>
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>添加菜单</strong></div>
  <div class="body-content">
    <div class="form-x">
      <div class="form-group">
          <div class="label">
              <label>菜单名称：</label>
          </div>
          <div class="field">
              <input type="text" class="input w50" id="menuName"/>
              <div class="tips"></div>
          </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>菜单类型：</label>
        </div>
        <div class="field" id="menuTypeAdd">
          <select name="pid" class="input w50">
            <option value="0">请选择类型</option>
            <option value="click">发送消息</option>
            <option value="view">跳转网页</option>
          </select>
          <div class="tips">不选择上级分类默认为发送消息</div>
        </div>
      </div>
      <div class="form-group" id="menu_url" hidden>
        <div class="label">
          <label>页面地址：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="title" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group" id="menu_message" hidden>
          <div class="label">
              <label>消息类型：</label>
          </div>
          <div class="field">
              <select name="pid" class="input w50">
                  <option value="0">请选择消息类型</option>
                  <option value="click">图文消息</option>
                  <option value="view">图片消息</option>
              </select>
              <div class="tips"></div>
          </div>
      </div>
##      <div class="form-group">
##        <div class="label">
##          <label>批量添加：</label>
##        </div>
##        <div class="field">
##          <textarea type="text" class="input w50" name="tits" style="height:150px;" placeholder="多个分类标题请转行"></textarea>
##          <div class="tips">多个分类标题请转行</div>
##        </div>
##      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="button
" id="submit"> 提交</button>
        </div>
      </div>
##        <div class="form-group dialogs" data-toggle="click" data-target="#menu_url" data-mask="1">
##            <div class="label">
##                <label></label>
##            </div>
##            <div class="field">
##                <button class="button bg-main icon-check-square-o" type="button
##        "> 提交</button>
##            </div>
##        </div>
    </div>
  </div>
</div>
<script src="../admin/js/menu_list.js"></script>
</body>
</html>