<!DOCTYPE html>
<!-- saved from url=(0022)https://weui.io/#input -->
<html lang="zh-cmn-Hans">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>WeUI</title>
<link rel="stylesheet" href="css/weui.css"/>
<style>
    #applyBtn {
        margin-top: 50px;
        margin-bottom: 50px;
    }
</style>
</head>
<body>
<div class="container" id="container">
    <div class="page msg_success js_show">
        <div class="weui-msg">
            <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">操作成功</h2>
            </div>
            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <a href="../knowledge/list" class="weui-btn weui-btn_primary">查看知识库</a>
                    <a href="../content/apply/add" class="weui-btn weui-btn_default">再次申请</a>
                </p>
            </div>
            <div class="weui-msg__extra-area">
                <div class="weui-footer">
                    <p class="weui-footer__links">
                        <a href="javascript:void(0);" class="weui-footer__link">农业大数据工程中心</a>
                    </p>
                    <p class="weui-footer__text">Copyright © 2017-2018</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/jquery.js"></script>
</body>
</html>